<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title>Test page</title>
    <style>
    section>ul>li {
        display: inline-block;
        vertical-align: top;
        outline: 1px solid #ccc;
        margin:5px;
        padding: 5px;
    }
    section>ul>li>ul {
        padding: 0 0 0 20px;
    }
    section>ul>li>div {
        background: #efefef;
        width: 400px;
        overflow: hidden;
    }
    section>ul>li>div>code {
        white-space: pre-wrap;
    }
    </style>
</head>
<body>
    <section>
        <h2>Event Update test page</h2>
        <ul>
            <li>
                <h3>Update</h3>
                <form action="/api/event/update" method="POST">
                    <ul>
                        <li>
                            <label>Id</label>
                            <input type="number" name="event" value="<%= event.id %>" readOnly />
                        </li>
                        <li>
                            <label>Name</label>
                            <input type="text" name="name" value="<%= event.name %>" />
                        </li>
                        <li>
                            <label>Name Cht</label>
                            <input type="text" name="nameCht" value="<%= event.nameCht %>" />
                        </li>
                        <li>
                            <label>assignedRaceNumber</label>
                            <input type="number" name="assignedRaceNumber" value="<%= event.assignedRaceNumber %>" />
                        </li>
                        <li>
                            <label>Start time</label>
                            <input type="datetime" name="startTime" value="<%= event.startTime %>" />
                        </li>
                        <li>
                            <label>End time</label>
                            <input type="datetime" name="endTime" value="<%= event.endTime %>" />
                        </li>
                        <li>
                            <label>lapDistance</label>
                            <input type="number" name="lapDistance" value="<%= event.lapDistance %>" />
                        </li>
                        <li>
                            <label>location</label>
                            <input type="text" name="location" value="<%= event.location %>" />
                        </li>
                    </ul>
                    <button type="submit">Submit</button>
                </form>
            </li>
            <li>
                <h3>Update Switch</h3>
                <form action="/api/event/updateSwitch" method="POST">
                    <ul>
                        <li>
                            <label>Id</label>
                            <input type="number" name="event" value="<%= event.id %>" readOnly />
                        </li>
                        <li>
                            <input type="checkbox" name="isPublic" <% if (event.isPublic) { %>checked<% } %> />
                            <label>isPublic</label>
                        </li>
                        <li>
                            <input type="checkbox" name="isRegistrationOpen" <% if (event.isRegistrationOpen) { %>checked<% } %> />
                            <label>isRegistrationOpen</label>
                        </li>
                        <li>
                            <input type="checkbox" name="isTeamRegistrationOpen" <% if (event.isTeamRegistrationOpen) { %>checked<% } %> />
                            <label>isTeamRegistrationOpen</label>
                        </li>
                    </ul>
                    <button type="submit">Submit</button>
                </form>
            </li>
            <li>
                <h3>Add managers</h3>
                All managers:
                <ul>
                <% for (var i = 0; i < params.managers.length; i += 1) { %>
                    <li><%= params.managers[i].id %> -
                        <%= params.managers[i].email %>
                    </li>
                <% } %>
                </ul>
                <hr>
                <form action="/api/event/managers/add" method="POST">
                    <ul>
                        <li>
                            <label>Id</label>
                            <input type="number" name="event" value="<%= event.id %>" readOnly />
                        </li>
                        <li>
                            <label>Manager to add 1</label>
                            <input type="number" name="managers[]" value="" />
                        </li>
                        <li>
                            <label>Manager to add 2</label>
                            <input type="number" name="managers[]" value="" />
                        </li>
                        <li>
                            <label>Manager to add 3</label>
                            <input type="number" name="managers[]" value="" />
                        </li>
                    </ul>
                    <button type="submit">Submit</button>
                </form>
            </li>
            <li>
                <h3>Remove managers</h3>
                Added managers:
                <ul>
                <% for (var i = 0; i < event.managers.length; i += 1) { %>
                    <li><%= event.managers[i].id %> -
                        <%= event.managers[i].email %>
                    </li>
                <% } %>
                </ul>
                <hr>
                <form action="/api/event/managers/remove" method="POST">
                    <ul>
                        <li>
                            <label>Id</label>
                            <input type="number" name="event" value="<%= event.id %>" readOnly />
                        </li>
                        <li>
                            <label>Manager to remove 1</label>
                            <input type="number" name="managers[]" value="" />
                        </li>
                        <li>
                            <label>Manager to remove 2</label>
                            <input type="number" name="managers[]" value="" />
                        </li>
                        <li>
                            <label>Manager to remove 3</label>
                            <input type="number" name="managers[]" value="" />
                        </li>
                    </ul>
                    <button type="submit">Submit</button>
                </form>
            </li>
            <li>
                <h3>Assign tester RFID</h3>
                <form action="/api/event/assignTesterRfid" method="POST">
                    <ul>
                        <li>
                            <label>Id</label>
                            <input type="number" name="event" value="<%= event.id %>" readOnly />
                        </li>
                        <li>
                            <label>EPC: </label>
                            <input type="string" name="epc" value="" />
                        </li>
                    </ul>
                    <button type="submit">Submit</button>
                </form>
            </li>
        </ul>
    </section>
    <script>
    var params = <%- JSON.stringify(params, null, 4) %></script>
</body>
</html>