<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title>Test page</title>
    <style>
    section>ul>li {
        display: inline-block;
        vertical-align: top;
        outline: 1px solid #ccc;
        margin:5px;
        padding: 5px;
    }
    section>ul>li>ul {
        padding: 0 0 0 20px;
    }
    section>ul>li>div {
        background: #efefef;
        width: 400px;
        overflow: hidden;
    }
    section>ul>li>div>code {
        white-space: pre-wrap;
    }
    </style>
</head>
<body>
    <section>
        <h2>Group Update test page</h2>
        <ul>
            <li>
                <h3>Update</h3>
                <form action="/group/update" method="POST">
                    <ul>
                        <li>
                            <label>Id</label>
                            <input type="number" name="group" value="<%= group.id %>" readOnly />
                        </li>
                        <li>
                            <label>Name</label>
                            <input type="text" name="name" value="<%= group.name %>" readOnly />
                        </li>
                        <li>
                            <label>NameCht</label>
                            <input type="text" name="nameCht" value="<%= group.nameCht %>" />
                        </li>

                        <li>
                            <textarea name="rules" value="<%= group.rules %>"></textarea>
                        </li>
                    </ul>
                    <button type="submit">Submit</button>
                </form>
            </li>
        </ul>
    </section>
    <script>
    var params = <%- JSON.stringify(params, null, 4) %></script>
</body>
</html>