<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title>Test page</title>
    <style>
    section>ul>li {
        display: inline-block;
        vertical-align: top;
        outline: 1px solid #ccc;
        margin:5px;
        padding: 5px;
    }
    section>ul>li>ul {
        padding: 0 0 0 20px;
    }
    section>ul>li>div {
        background: #efefef;
        width: 400px;
        overflow: hidden;
    }
    section>ul>li>div>code {
        white-space: pre-wrap;
    }
    </style>
</head>
<body>
    <section>
        <h2>Manager Update test page</h2>
        <ul>
            <li>
                <h3>Update</h3>
                <form action="/manager/update" method="POST">
                    <ul>
                        <li>
                            <label>Id</label>
                            <input type="number" name="id" value="<%= manager.id %>" readOnly />
                        </li>
                        <li>
                            <label>Email</label>
                            <input type="text" name="email" value="<%= manager.email %>" />
                        </li>
                        <li>
                            <label>Phone</label>
                            <input type="text" name="phone" value="<%= manager.phone %>" />
                        </li>
                        <li>
                            <label>Name</label>
                            <input type="text" name="firstName" value="<%= manager.firstName %>" placeholder="first name"/>
                            <input type="text" name="lastName" value="<%= manager.lastName %>" placeholder="last name"/>
                        </li>
                        <% include ../partials/address %>
                    </ul>
                    <button type="submit">Submit</button>
                </form>
            </li>
            <li>
                <h3>Update password</h3>
                <form action="/manager/updatePassword" method="POST">
                    <ul>
                        <li>
                            <label>Old password</label>
                            <input type="password" name="oldPassword" />
                        </li>
                        <li>
                            <label>password</label>
                            <input type="password" name="password" />
                        </li>
                        <li>
                            <label>Confirm password</label>
                            <input type="password" name="confirmPassword" />
                        </li>
                    </ul>
                    <button type="submit">Submit</button>
                </form>
            </li>
        </ul>
    </section>
    <script>
    var params = <%- JSON.stringify(params, null, 4) %></script>
</body>
</html>