<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title>Test page</title>
    <style>
    section>ul>li {
        display: inline-block;
        vertical-align: top;
        outline: 1px solid #ccc;
        margin:5px;
        padding: 5px;
    }
    section>ul>li>ul {
        padding: 0 0 0 20px;
    }
    section>ul>li>div {
        background: #efefef;
        width: 400px;
        overflow: hidden;
    }
    section>ul>li>div>code {
        white-space: pre-wrap;
    }
    </style>
</head>
<body>
    <section>
        <h2>Team Update test page</h2>
        <ul>
            <li>
                <h3>Update</h3>
                <form action="/api/team/update" method="POST">
                    <ul>
                        <li>
                            <label>Id</label>
                            <input type="number" name="team" value="<%= team.id %>" readOnly />
                        </li>
                        <li>
                            <label>Name</label>
                            <input type="text" name="name" value="<%= team.name %>" readOnly />
                        </li>
                        <li>
                            <label>Description</label>
                            <input type="text" name="description" value="<%= team.description %>" />
                        </li>
                        <li>
                            <label>Url</label>
                            <input type="text" name="url" value="<%= team.url %>" />
                        </li>
                    </ul>
                    <button type="submit">Submit</button>
                </form>
            </li>
        </ul>
    </section>
    <script>
    var params = <%- JSON.stringify(params, null, 4) %></script>
</body>
</html>