<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title>Test page</title>
    <style>
    section>ul>li {
        display: inline-block;
        vertical-align: top;
        outline: 1px solid #ccc;
        margin:5px;
        padding: 5px;
    }
    section>ul>li>ul {
        padding: 0 0 0 20px;
    }
    section>ul>li>div {
        background: #efefef;
        width: 400px;
        overflow: hidden;
    }
    section>ul>li>div>code {
        white-space: pre-wrap;
    }
    </style>
</head>
<body>
    <section>
        <h2>Race Update test page</h2>
        <ul>
            <li>
                <h3>Update</h3>
                <form action="/race/update" method="POST">
                    <ul>
                        <li>
                            <label>Id</label>
                            <input type="number" name="race" value="<%= race.id %>" readOnly />
                        </li>
                        <li>
                            <label>Name</label>
                            <input type="text" name="name" value="<%= race.name %>" />
                        </li>
                        <li>
                            <label>NameCht</label>
                            <input type="text" name="nameCht" value="<%= race.nameCht %>" />
                        </li>
                        <li>
                            <label>Laps</label>
                            <input type="number" name="laps" value="<%= race.laps %>" />
                        </li>
                        <li>
                            <label>racerNumberAllowed</label>
                            <input type="number" name="racerNumberAllowed" value="<%= race.racerNumberAllowed %>" />
                        </li>
                        <li>
                            <label>advancingRules:</label>
                            <ul>
                                <% for (var i = 0; i < race.advancingRules.length; i += 1) { %>
                                <li>
                                    <ul>
                                        <li>Rank from: <input type="number" name="advancingRules[][rankFrom]" value="<%= race.advancingRules[i].rankFrom%>" readOnly/></li>
                                        <li>Rank to: <input type="number" name="advancingRules[][rankTo]" value="<%= race.advancingRules[i].rankTo%>" readOnly /></li>
                                        <li>to Race: <input type="number" name="advancingRules[][toRace]" value="<%= race.advancingRules[i].toRace%>" readOnly /></li>
                                        <li>insertAt: <input type="number" name="advancingRules[][insertAt]" value="<%= race.advancingRules[i].insertAt%>" readOnly /></li>
                                    </ul>
                                </li>
                                <% } %>
                            </ul>
                        </li>
                    </ul>
                    <button type="submit">Submit</button>
                </form>
            </li>
            <li>
                <h3>updateAdvancingRules</h3>
                <form action="/race/updateAdvancingRules" method="POST">
                    <ul>
                        <li>
                            <label>Id</label>
                            <input type="number" name="race" value="<%= race.id %>" readOnly />
                        </li>
                        <li>
                            <label>advancingRules:</label>
                            <ul>
                                <% for (var i = 0; i < race.advancingRules.length; i += 1) { %>
                                <li>
                                    <ul>
                                        <li>Rank from: <input type="number" name="advancingRules[][rankFrom]" value="<%= race.advancingRules[i].rankFrom%>" /></li>
                                        <li>Rank to: <input type="number" name="advancingRules[][rankTo]" value="<%= race.advancingRules[i].rankTo%>"  /></li>
                                        <li>to Race: <input type="number" name="advancingRules[][toRace]" value="<%= race.advancingRules[i].toRace%>"  /></li>
                                        <li>insertAt: <input type="number" name="advancingRules[][insertAt]" value="<%= race.advancingRules[i].insertAt%>"  /></li>
                                    </ul>
                                </li>
                                <hr>
                                <% } %>
                                <li>
                                    <ul>
                                        <li>Rank from: <input type="number" name="advancingRules[][rankFrom]" /></li>
                                        <li>Rank to: <input type="number" name="advancingRules[][rankTo]" /></li>
                                        <li>to Race: <input type="number" name="advancingRules[][toRace]" /></li>
                                        <li>insertAt: <input type="number" name="advancingRules[][insertAt]" /></li>
                                    </ul>
                                </li>
                                <hr>
                                <li>
                                    <ul>
                                        <li>Rank from: <input type="number" name="advancingRules[][rankFrom]" /></li>
                                        <li>Rank to: <input type="number" name="advancingRules[][rankTo]" /></li>
                                        <li>to Race: <input type="number" name="advancingRules[][toRace]" /></li>
                                        <li>insertAt: <input type="number" name="advancingRules[][insertAt]" /></li>
                                    </ul>
                                </li>
                                <hr>
                                <li>
                                    <ul>
                                        <li>Rank from: <input type="number" name="advancingRules[][rankFrom]" /></li>
                                        <li>Rank to: <input type="number" name="advancingRules[][rankTo]" /></li>
                                        <li>to Race: <input type="number" name="advancingRules[][toRace]" /></li>
                                        <li>insertAt: <input type="number" name="advancingRules[][insertAt]" /></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <button type="submit">Submit</button>
                </form>
            </li>
            <li>
                <h3>assignPacerRfid</h3>
                <form action="/race/assignPacerRfid" method="POST">
                    <ul>
                        <li>
                            <label>Id</label>
                            <input type="number" name="race" value="<%= race.id %>" readOnly />
                        </li>
                        <li>
                            <label>epc</label>
                            <input type="text" name="epc" value="<%= race.pacerEpc %>" />
                        </li>
                    </ul>
                    <button type="submit">Submit</button>
                </form>
            </li>
        </ul>
    </section>
    <section>
        <h2>Racers</h2>
        <ul>
            <li>
                <h3>Registrations</h3>
                <ul>
                    <% for (var i = 0; i < race.registrations.length; i += 1) { %>
                    <li>
                        <label>Id: <%= race.registrations[i].id%></label>
                        <label>RaceNumber: <%= race.registrations[i].raceNumber%></label>
                    </li>
                    <% } %>
                </ul>
            </li>
            <li>
                <h3>Add Racer</h3>
                <form action="/race/racer/add" method="POST">
                    <ul>
                        <li>
                            <label>Id</label>
                            <input type="number" name="race" value="<%= race.id %>" readOnly />
                        </li>
                        <li>
                            <label>raceNumber</label>
                            <input type="number" name="raceNumber" />
                        </li>
                    </ul>
                    <button type="submit">Submit</button>
                </form>
            </li>
            <li>
                <h3>Remove Racer</h3>
                <form action="/race/racer/remove" method="POST">
                    <ul>
                        <li>
                            <label>Id</label>
                            <input type="number" name="race" value="<%= race.id %>" readOnly />
                        </li>
                        <li>
                            <label>raceNumber</label>
                            <input type="number" name="raceNumber" />
                        </li>
                    </ul>
                    <button type="submit">Submit</button>
                </form>
            </li>
            <li>
                <h3>submitRaceResult</h3>
            </li>
        </ul>
    </section>
    <script>
    var params = <%- JSON.stringify(params, null, 4) %></script>
</body>
</html>