<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <title>Test page</title>
    <style>
    section>ul>li {
        display: inline-block;
        vertical-align: top;
        outline: 1px solid #ccc;
        margin:5px;
        padding: 5px;
    }
    section>ul>li>ul {
        padding: 0 0 0 20px;
    }
    section>ul>li>div {
        background: #efefef;
        width: 400px;
        overflow: hidden;
    }
    section>ul>li>div>code {
        white-space: pre-wrap;
    }
    </style>
</head>
<body>
    <section>
        <h2>Manager</h2>
        <ul>
            <li>
                <% if (typeof params.session.managerInfo !== 'undefined') { %>
                    Logged in as : <%= params.session.managerInfo.firstName %> <%= params.session.managerInfo.lastName %>
                <% } else { %>
                    Not logged in
                <% } %>
                <hr>
                <h3>Login</h3>
                <form action="/manager/login" method="POST">
                    <ul>
                        <li>
                            <label>email</label>
                            <input type="text" name="email" />
                        </li>
                        <li>
                            <label>password</label>
                            <input type="password" name="password" />
                        </li>
                    </ul>
                    <button type="submit">Submit</button>
                </form>
                <hr>
                <h3>Logout</h3>
                <a href="/manager/logout">Click to logout</a>
            </li>
            <li>
                <h3>Activate</h3>
                <form action="/manager/activate" method="POST">
                    <ul>
                        <li>
                            <label>new password</label>
                            <input type="password" name="password" />
                        </li>
                        <li>
                            <label>confirm password</label>
                            <input type="password" name="confirmPassword" />
                        </li>
                    </ul>
                    <button type="submit">Submit</button>
                </form>
                <hr>
                <h3>Reissue password</h3>
                <ul>
                    <% for (var i = 0; i < params.managers.length; i += 1) { %>
                        <li>
                            <a href="/manager/reissuePassword/<%= params.managers[i].id %>">
                                <%= params.managers[i].id %> - <%= params.managers[i].firstName %> <%= params.managers[i].lastName %>
                            </a>
                        </li>
                    <% } %>
                </ul>
            </li>
            <li>
                <h3>Create</h3>
                <form action="/manager/create" method="POST">
                    <ul>
                        <li>
                            <label>Email</label>
                            <input type="text" name="email" />
                        </li>
                        <li>
                            <label>Phone</label>
                            <input type="text" name="phone" />
                        </li>
                        <li>
                            <label>FirstName</label>
                            <input type="text" name="firstName" />
                        </li>
                        <li>
                            <label>LastName</label>
                            <input type="text" name="lastName" />
                        </li>
                        <% include ./partials/address %>
                        <li>
                            <label>password</label>
                            <input type="password" name="password" />
                        </li>
                        <li>
                            <label>Confirm password</label>
                            <input type="password" name="confirmPassword" />
                        </li>
                    </ul>
                    <button type="submit">Submit</button>
                </form>
            </li>
            <li>
                <h3>Get info</h3>
                <ul>
                    <% for (var i = 0; i < params.managers.length; i += 1) { %>
                        <li>
                            <label><%= params.managers[i].id %> - <%= params.managers[i].firstName %> <%= params.managers[i].lastName %>:</label> 
                            <a href="/manager/info/<%= params.managers[i].id %>">General</a>
                            <a href="/manager/mgmtInfo/<%= params.managers[i].id %>">Management</a>
                        </li>
                    <% } %>
                </ul>
            </li>
            <li>
                <h3>Update</h3>
                <ul>
                    <% for (var i = 0; i < params.managers.length; i += 1) { %>
                        <li>
                            <label>
                            <a href="/manager/update/<%= params.managers[i].id %>"><%= params.managers[i].id %> - <%= params.managers[i].firstName %> <%= params.managers[i].lastName %>:</label> </a>
                        </li>
                    <% } %>
                </ul>
            </li>
        </ul>
    </section>
    <section>
        <h2>Event</h2>
        <ul>
            <li>
                <h3>Create</h3>
                <%
                    var timestamp = Date.now();
                    var timestampStart = timestamp + (2 * 3600 * 1000);
                    var timestampEnd = timestampStart + 8 * 3600 * 1000;
                    var returnDate = function (timestamp) {
                        var date = new Date(timestamp);
                        var yyyy = date.getFullYear();
                        var MM = date.getMonth() + 1;
                        var dd = date.getDate();
                        var hh = date.getHours();
                        var mm = date.getMinutes();
                        return yyyy + '-' + MM + '-' + dd + ' ' + hh + ':' + mm + ':00';
                    };
                    var now = returnDate(timestamp);
                    var startdate = returnDate(timestampStart);
                    var enddate = returnDate(timestampEnd);
                %>
                <p>Current time: <%= now %></p>
                <form action="/event/create" method="POST">
                    <ul>
                        <li>
                            <label>Name</label>
                            <input type="text" name="name" />
                        </li>
                        <li>
                            <label>Chinese Name</label>
                            <input type="text" name="nameCht" />
                        </li>
                        <li>
                            <label>assignedRaceNumber</label>
                            <input type="number" name="assignedRaceNumber" />
                        </li>
                        <li>
                            <label>Start time</label>
                            <input type="datetime-local" name="startTime" />
                        </li>
                        <li>
                            <label>End time</label>
                            <input type="datetime-local" name="endTime" />
                        </li>
                        <li>
                            <label>Lap Distance (meter)</label>
                            <input type="number" name="lapDistance" />
                        </li>
                        <li>
                            <label>Location</label>
                            <input type="text" name="location" />
                        </li>
                    </ul>
                    <button type="submit">Submit</button>
                </form>
            </li>
            <li>
                <h3>Get info</h3>
                <ul>
                    <% for (var i = 0; i < params.events.length; i += 1) { %>
                        <li>
                            <a href="/event/info/<%= params.events[i].id %>"><%= params.events[i].id %> - <%= params.events[i].name %></a>
                        </li>
                    <% } %>
                </ul>
            </li>
            <li>
                <h3>Update</h3>
                <ul>
                    <% for (var i = 0; i < params.events.length; i += 1) { %>
                        <li>
                            <a href="/event/update/<%= params.events[i].id %>"><%= params.events[i].id %> - <%= params.events[i].name %></a>
                        </li>
                    <% } %>
                </ul>
            </li>
            <li>
                <h3>Delete</h3>
                <ul>
                    <% for (var i = 0; i < params.events.length; i += 1) { %>
                        <li>
                            <a href="/event/delete/<%= params.events[i].id %>"><%= params.events[i].id %> - <%= params.events[i].name %></a>
                        </li>
                    <% } %>
                </ul>
            </li>
        </ul>
    </section>
    <section>
        <h2>Group</h2>
        <ul>
            <li>
                <h3>Create</h3>

                <form action="/group/create" method="POST">
                    <ul>
                        <li>
                            <label>Event</label>
                            <input type="number" name="event" />
                        </li>
                        <li>
                            <label>Name</label>
                            <input type="text" name="name" />
                        </li>
                        <li>
                            <label>Chinese Name</label>
                            <input type="text" name="nameCht" />
                        </li>
                        <li>
                            <label>Rules</label>
                            <textarea type="text" name="rules"></textarea>
                        </li>
                    </ul>
                    <button type="submit">Submit</button>
                </form>
            </li>
            <li>
                <h3>Get info</h3>
                <ul>
                    <% for (var i = 0; i < params.groups.length; i += 1) { %>
                        <li>
                            <a href="/group/info/<%= params.groups[i].id %>"><%= params.groups[i].id %> - <%= params.groups[i].name %></a>
                        </li>
                    <% } %>
                </ul>
            </li>
            <li>
                <h3>Update</h3>
                <ul>
                    <% for (var i = 0; i < params.groups.length; i += 1) { %>
                        <li>
                            <a href="/group/update/<%= params.groups[i].id %>"><%= params.groups[i].id %> - <%= params.groups[i].name %></a>
                        </li>
                    <% } %>
                </ul>
            </li>
            <li>
                <h3>Delete</h3>
                <ul>
                    <% for (var i = 0; i < params.groups.length; i += 1) { %>
                        <li>
                            <a href="/group/delete/<%= params.groups[i].id %>"><%= params.groups[i].id %> - <%= params.groups[i].name %></a>
                        </li>
                    <% } %>
                </ul>
            </li>
        </ul>
    </section>
    <script>
    var params = <%- JSON.stringify(params, null, 4) %></script>
</body>
</html>